<!DOCTYPE html>
<html lang="{{ site.lang | default: 'zh' }}" itemscope itemtype="http://schema.org/Blog">
  <head>
    <meta charset="utf-8">
	<link rel="manifest" href="/pwa/manifest.json">
	<title>{% if page.url == "/index.html" %} {{ site.title }} {% else %} {% if page.title %}{{ page.title }}{% endif %} | {{ site.title }} {% endif %}</title>
    {% if page.description and page.description != "" %}
	  <meta name="description" content="{{ page.description }}">
    <meta itemprop="description" content="{{ page.description }}">
		{% elsif post.excerpt and post.excerpt != "" %}
	  <meta name="description" content="{{ post.excerpt | strip_html }}">
	  {% else %}
	  <meta name="description" content="{{ post.content | strip_html | slice: 0, 150 }}">
	  {% endif %}
		<meta itemprop="name" content="{{ site.title }}">
	  {% if page.keywords %}
	  <meta name="keywords" content="{{ page.keywords }}">
	  {% endif %}
	  {% if post.tags.size > 0 %}
			  <meta name="keywords" content="{% for tag in post.tags %}{{ tag }}{% if forloop.last == false %}, {% endif %}{% endfor %}">
	  {% endif %}
    <meta name="author" content="{{ site.author.name }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="theme-color" content="#2196F3">
	  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
	  <meta property="og:type" content="article">
	  <meta property="og:url" content="{{ site.url }}{{ page.url }}">
	  <meta property="og:image" content="{{ site.image }}">
	  <meta property="twitter:card" content="summary">
	  <meta property="twitter:site" content="@{{ site.author.twitter }}">
	  <meta property="twitter:creator" content="@{{ site.author.twitter }}">
	  <meta property="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
	  <meta property="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ post.content | strip_html | truncatewords: 50 }}{% endif %}">
	  <meta property="twitter:image" content="{{ site.image }}">
		<meta name="google-site-verification" content="puZt0ZyqB-t67BYdYAgLUyIPBeismG68J0dmEc01QeY" />
	{% if page.url == "/404.html" %}
		<meta http-equiv = "refresh" content = "3;url=/">
	{% endif %}
    <script>
		if ('serviceWorker' in navigator) {
			window.addEventListener('load', function () {
				navigator.serviceWorker
										.register('/sw.js')
										.then(function(registration) {
											console.log("Successfully registered service worker", registration.scope);
										}).catch(function(err) {
											console.log("Service worker registration failed: ", err);
										});
				//navigator.serviceWorker.ready always resolve
				navigator.serviceWorker.ready.then(function (registration) {
					console.log('Service worker successfully registered on scope', registration.scope);
				});
			});
		}
    </script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<link rel="canonical" href="{{ page.url | prepend: site.url }}">
	<link href="{{ ASSET_PATH }}/google-code-prettify/desert.css" type="text/css" rel="stylesheet" />

    <!-- Le styles -->
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js" integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js" integrity="sha512-ykZ1QQr0Jy/4ZkvKuqWn4iF3lqPZyij9iRv6sGqLRdTPkY69YX6+7wvVGmsdBbiIfN/8OdsI7HABjvEok6ZopQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	  <link href="{{ ASSET_PATH }}/css/style.css" rel="stylesheet" type="text/css" media="all">

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="{{ BASE_PATH }}/images/favicon.ico">

    <!-- atom & rss feed -->
    <link href="{{ BASE_PATH }}{{ site.JB.feed_path }}" type="application/atom+xml" rel="alternate" title="Jekyll auto generate ATOM Feed">
    <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Site ATOM Feed">
    <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Site RSS Feed">
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8529425670069509" crossorigin="anonymous"></script>
		<script async src="https://umami.einverne.info/script.js" data-website-id="1b93237c-5000-4e9d-9f4d-581cb7c8c3e3"></script>
	  <script type="text/javascript">
      (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
      })(window, document, "clarity", "script", "ncdk6bi3gt");
	  </script>
	  <script async src="https://www.googletagmanager.com/gtag/js?id=G-5FCF34H16J"></script>
	  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-5FCF34H16J');
	  </script>
  </head>

  <body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <div class="container-md">
		  <a class="navbar-brand" href="{{ HOME_PATH }}">{{ site.title }}</a>
		  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			  <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
				  {% assign pages_list = site.pages %}
				  {% assign group = 'navigation' %}
				  {% include JB/pages_list %}
				  <li class="nav-item dropdown">
					  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						  Other
					  </a>
					  <ul class="dropdown-menu">
						  <li><a class="dropdown-item" href="/about.html">About</a></li>
						  <li><a class="dropdown-item" href="https://invest.einverne.info/" target="_blank">投资笔记</a></li>
						  <li><a class="dropdown-item" href="https://broker.einverne.info/" target="_blank">券商推荐</a></li>
						  <li><a class="dropdown-item" href="https://book.einverne.info/" target="_blank">图书分享</a></li>
						  <li><a class="dropdown-item" href="https://photo.einverne.info/" target="_blank">相册</a></li>
						  <li><a class="dropdown-item" href="https://kindle.einverne.info/" target="_blank">Kindle 笔记</a></li>
						  <li><a class="dropdown-item" href="https://ipfs.einverne.info/" target="_blank">IPFS 镜像</a></li>
						  <li><a class="dropdown-item" href="https://status.einverne.info/" target="_blank">服务状态</a></li>
						  <li><a class="dropdown-item" rel="me" href="https://m.einverne.info/@einverne" target="_blank">在线嘟嘟</a></li>
					  </ul>
				  </li>
			  </ul>
			  <form id="search-form" class="d-flex" role="search">
				  <input class="form-control form-control-sm me-2" type="search" placeholder="Search" id="query" aria-label="Search">
			  </form>
			  <div class="nav-icon ms-2">
				  <a href="https://blog.einverne.info/feed.xml" aria-label="Blog Feed Link"><i class="fa fa-rss fa-2x"></i></a>
			  </div>
		  </div>
	  </div>
  </nav>
  <div class="container">
	  <div class="row">
		  <div class="col-12">
			  <div class="searchresult">
			  </div>
			  <div id="search-loader" class="img-wrap">
			  </div>
		  </div>
	  </div>
	  {{ content }}

<!--	  <div class="row">-->
<!--		  <div class="col-12">-->
<!--		  </div>-->
<!--	  </div>-->
  </div>

		<footer class="mt-4 py-3 bg-light">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<hr>
						<p class="mb-0 text-center">
							&copy; {{ site.time | date: '%Y' }} {{ site.author.name }}. Powered by <a href="http://jekyllrb.com" target="_blank" title="The simple, blog-aware, static site generator." class="text-decoration-none">Jekyll</a>. Hosted on <a href="http://github.com/{{ site.author.github }}" target="_blank" title="Ein Verne's GitHub Repos" class="text-decoration-none">GitHub</a> & <a href="https://ipfs.einverne.info" target="_blank" title="IPFS" class="text-decoration-none">IPFS</a> & <a href="https://gtk.pw/bwg" target="_blank" title="my own vps" class="text-decoration-none">BandwagonHost</a>. Join <a href="https://t.me/+RUBhyY60iVcl6hdX" target="_blank" title="Verne's Blog Telegram Group" class="text-decoration-none">Telegram group</a>.
						</p>
					</div>
				</div>
			</div>
		</footer>
    {% include JB/analytics %}

	<script async type="text/javascript" src="{{ ASSET_PATH }}/webcore.js"></script>

  <script>
    (function(d,t) {
      var BASE_URL="https://chat.einverne.info";
      var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=BASE_URL+"/packs/js/sdk.js";
      g.defer = true;
      g.async = true;
      s.parentNode.insertBefore(g,s);
      g.onload=function(){
        window.chatwootSDK.run({
          websiteToken: '5tYM48tMpT4RMGU6UfQCCE7V',
          baseUrl: BASE_URL
        })
      }
    })(document,"script");
  </script>
 </body>
</html>
