<div class="row" itemscope itemtype="http://schema.org/Article">
    <div class="col-xs-12 col-md-8">
        <div class="page-header" itemprop="name">
            <h1>{{ page.title }} {% if page.tagline %}
                <small>{{page.tagline}}</small>
                {% endif %}
            </h1>
        </div>
        <div class="post-meta">
            {% if page.date %}
            <span class="entry-date" itemprop="datePublished">Posted on {{ page.date | date: "%m/%d/%Y" }}</span>
            {% endif %}
            {% if page.last_updated %}
            , Last modified on {{ page.last_updated | date: "%m/%d/%Y" }}
            {% endif %}
            <span class="entry-author" itemprop="author">by {{ site.author.name }}</span>
            | <a class="revision-histroy" href="{{ site.repo_url }}/commits/master/{{ page.path }}"
                 target="_blank">View revision history</a>
        </div>
        <div class="post-content" itemprop="articleBody">
            {{ content }}
        </div>

        <div id="related">
            <h2>Related Posts</h2>
            <ul class="posts"><!--当一篇文章有两个tag一样时显示-->
                {% for post in site.posts %}
                {% assign sameTagCount = 0 %}
                {% for tag in post.tags %}
                {% if page.tags contains tag %}
                {% assign sameTagCount = sameTagCount | plus:1 %}
                {% endif %}
                {% endfor %}
                {% if sameTagCount >= 2 %}
                <li><a href="{{ post.url }}">{{ post.title }}</a> - <span>{{ post.date | date: "%m/%d/%Y" }}</span></li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>

        <hr>
        <nav>
            <ul class="pager">
                {% if page.previous %}
                <li class="previous"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr;
                    Previous（前一篇）</a></li>
                {% else %}
                <li class="previous disabled"><a>&larr; Previous（前一篇）</a></li>
                {% endif %}
                <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive（目录）</a></li>
                {% if page.next %}
                <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next（后一篇） &rarr;</a></li>
                {% else %}
                <li class="next disabled"><a>Next（后一篇） &rarr;</a></li>
                {% endif %}
            </ul>
        </nav>
        <hr>

        如果要使用 Remark42 进行评论确保访问的域名为 <a href="https://blog.einverne.info">https://blog.einverne.info</a> 或者点击 <a href="https://blog.einverne.info{{ page.url }}" target="_self">这里</a>评论。
        <div id="remark42"></div>

        {% include JB/comments %}
        <blockquote><p class="quote"></p></blockquote>
    </div>

    <div class="col-xs-12 col-md-4">
        {% unless page.categories == empty %}
        <ul class="tag_box">
            <li><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span></li>
            {% assign categories_list = page.categories %}
            {% include JB/categories_list %}
        </ul>
        {% endunless %}

        {% unless page.tags == empty %}
        <ul class="tag_box">
            <li><span class="glyphicon glyphicon-tag" aria-hidden="true"></span></li>
            {% assign tags_list = page.tags %}
            {% include JB/tags_list %}
        </ul>
        {% endunless %}
        <div id="floatbox">
            <div id="post-directory-module">
                <div id="toc"></div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="{{ ASSET_PATH }}/toc.js"></script>
<script type="text/javascript">
    function isMobile() {
        return /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent);
    }
    $(document).ready(function () {
//        $('#toc').toc({headers: 'h2, h3'});
//
//        if (!isMobile()) {
//            var tocH = $("#floatbox").offset().top;
//            $(window).scroll(function () {
//                var scroH = $(this).scrollTop();
//                if (scroH >= tocH) {
//                    $("#floatbox").css({"position": "fixed", "top": 0});
//                } else {
//                    $("#floatbox").css({"position": "static"});
//                }
//            });
//        }

        $.getJSON('https://my-worker.einverne.workers.dev/', function (data) {
            var rand = Math.floor(Math.random() * data.quotes.length);
            var entry = data.quotes[rand].quote + "    --" + data.quotes[rand].name;
            $('.quote').text(entry);
        });

        jQuery('#qrcode').qrcode({
            width: 128,
            height: 128,
            text: window.location.href
        });
    });
</script>

<script>
    var remark_config = {
        host: "https://remark.einverne.info",
        site_id: 'verneingithub',
        components: ['embed'],
        max_shown_comments: 10,
        theme: 'light',
        page_title: 'EV博客评论',
        locale: 'zh',
        show_email_subscription: true,
        simple_view: false
    };
</script>
<script>!function(e,n){for(var o=0;o<e.length;o++){var r=n.createElement("script"),c=".js",d=n.head||n.body;"noModule"in r?(r.type="module",c=".mjs"):r.async=!0,r.defer=!0,r.src=remark_config.host+"/web/"+e[o]+c,d.appendChild(r)}}(remark_config.components||["embed"],document);</script>
