---
layout: default
title: Verne in GitHub
---

<meta itemprop="image" content="{{ site.image }}">
<div class="row">
  <div class="col-xs-12 col-md-8">
    {% for post in paginator.posts %}
    {% capture summary %}{{post.content | split:'<!--more--> ' |first }}{% endcapture%}
    <h1><a class="title" href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></h1>
    <div class="post_at_index">
      {{summary}}
      {% if summary != post.content %}<a href="{{ BASE_PATH }}{{ post.url }}" rel="nofollow">Read more...</a>{% endif %}
    </div>
    <br/>
    <div>
      <cite>{{ post.date | date: "%Y-%m-%d" }}</cite> <i class="icon-tag"></i>
      {% for tag in post.tags %}<a href="{{ BASE_PATH }}{{ site.JB.tags_path }}#{{ tag }}">{{ tag }}</a>
      {% if forloop.last %}
      {% else %}, {% endif %}
      {% endfor %}
    </div>
    <div style="clear: both;"></div>
    <hr/>
    {% endfor %}

    <!-- Pagination links -->
    <nav>
      <ul class="pagination hidden-xs">
        {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
        <li>
          <a href="/">&laquo; Previous</a>
        </li>
        {% else %}
        <li>
          <a href="/page{{ paginator.previous_page }}">&laquo; Previous</a>
        </li>
        {% endif %}
        {% else %}
        <li class="disabled">
          <a>&laquo; Previous</a>
        </li>
        {% endif %}

        {% if paginator.page == 1 %}
        <li class="active">
          <a>1</a>
        </li>
        {% for count in (2..5) %}
        <li>
          <a href="/page{{count}}">{{count}}</a>
        </li>
        {% endfor %}
        <li><span>...</span></li>
        <li><a href="/page{{paginator.total_pages}}">{{paginator.total_pages}}</a></li>
        {% else %}
        <li>
          <a href="/">1</a>
        </li>
        {% endif %}

        {% if paginator.page < paginator.total_pages and paginator.page > 1 %}
          {% if paginator.page > 5 %}
            {% for count in (2..5) %}
            <li>
              <a href="/page{{count}}">{{count}}</a>
            </li>
            {% endfor %}
            <li class="disabled"><span>...</span></li>
            <li class="active"><a>{{paginator.page}}</a></li>
          {% else %}
            {% for count in (2..5) %}
              {% if paginator.page == count %}
                <li class="active"><a>{{count}}</a></li>
                {% else %}
                <li><a href="/page{{count}}">{{count}}</a></li>
              {% endif %}
            {% endfor %}
          {% endif %}
          <li class="disabled"><span>...</span></li>
          <li><a href="/page{{paginator.total_pages}}">{{paginator.total_pages}}</a></li>
        {% else %}
        {% endif %}

        {% if paginator.page == paginator.total_pages %}
        <li><span>...</span></li>
        <li class="active">
          <a href="/page{{paginator.total_pages}}">{{paginator.total_pages}}</a>
        </li>
        {% else %}
        {% endif %}

        {% if paginator.next_page %}
        <li>
          <a href="/page{{paginator.next_page}}">Next &raquo;</a>
        </li>
        {% else %}
        <li class="disabled">
          <a>Next &raquo;</a>
        </li>
        {% endif %}
      </ul>
    </nav>
  </div>
  <div class="col-xs-12 col-md-4">
		<div>
			<a class="twitter-timeline" data-width="390" data-height="640" data-theme="light" href="https://twitter.com/einverne?ref_src=twsrc%5Etfw">Tweets by einverne</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>
    <div>
      <h2>电子书</h2>
      <ul>
        <li><a href="http://einverne.github.io/markdown-style-guide/zh.html">Markdown 书写风格指南</a></li>
        <li><a href="https://einverne.github.io/gitbook-tutorial">Gitbook 使用教程</a></li>
        <li><a href="https://einverne.gitbooks.io/kafka/content/">Kafka 官方文档中文版</a></li>
        <li><a href="https://einverne.gitbooks.io/intellij-idea-tutorial/content/">IntelliJ IDEA 教程</a></li>
      </ul>
    </div>
    <div class="categories">
      <h2>文章分类</h2>
      <ul class="tag_box">
        {% assign categories_list = site.categories %}
        {% include JB/categories_list %}
      </ul>
    </div>
    <div>
      <h2>最近文章</h2>
      <ul>
        {% for post in site.posts limit:5 %}
        <li>
          <a href="{{ post.url }}">{{ post.title}}</a>
          {{ post.excerpt | strip_html }}
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
