body {
    font-family: -apple-system, "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    padding-top: 60px;
    height: auto;
    min-height: 100%;
		line-height: 1.8em;
    scroll-behavior: smooth;
}

.page-header {
    margin: 20px 0px;
}

ol, ul {
    display: block;
    list-style-type: disc;
    margin-left: 5px;
    padding-left: 20px;
    font-size: 15px;
}

h2 {
    padding: 0.3em 0em 0.3em 0.5em;

    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1.75em;
    font-weight: bold;
    line-height: 1.225;
    border-bottom: 1px solid #eee;
    border-left: 5px solid #2e9fff;
}

.mobilepadding {
    padding-left: 15px;
    padding-right: 15px;
}

.searchresult {
    display: none;
    padding: 20px;
    -webkit-box-shadow: 2px 2px 15px 0px rgba(204, 204, 204, 1);
    -moz-box-shadow: 2px 2px 15px 0px rgba(204, 204, 204, 1);
    box-shadow: 2px 2px 15px 0px rgba(204, 204, 204, 1);
}

.post-meta {
    margin: 0 0 20px 0;
    font-style: italic;
    font-size: 1em;
}

a {
    word-break: break-all;
}

#toc {
    margin-top: 10px;
    border: 1px solid #e2e2e2;
    padding: 6px;
    width: 300px;
    line-height: 1.8;
}

#toc strong {
    border-bottom: 1px solid #e2e2e2;
    display: block;
    margin-left: 5px;
}

#toc ul {
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 5px;
}

#toc ul,
#toc ol {
    list-style: none;
}

#toc a {
    text-decoration: none;
    color: #bababa;
}

#toc a:hover,
#toc a:active,
#toc a.on {
    color: #4183c4;
}

#floatbox {
    margin-top: 60px;
}

#post-directory-module {
    margin-top: 60px;
}

#search-loader {
    display: none;
    text-align: center;
}

.img-wrap {
    text-align: center;
    margin: 100px auto;
    background: transparent;
}

.navbar {
    background: rgba(248, 248, 248, 0.8);
}

/* posts index */
.post > h3.title {
    position: relative;
    padding-top: 10px;
}

.post > h3.title span.date {
    position: absolute;
    right: 0;
    font-size: 0.9em;
}

.post > .more {
    margin: 10px 0;
    text-align: left;
}

/* post-full*/
.post-full .date {
    margin-bottom: 20px;
    font-weight: bold;
}

ul.tag_box {
    padding-left: 0px;
}

/* tag_box */
.tag_box {
    list-style: none;
    margin: 0;
    overflow: hidden;
}

.tag_box li {
    line-height: 28px;
}

.tag_box li i {
    opacity: 0.9;
}

.tag_box.inline li {
    float: left;
}

.tag_box a {
    padding: 3px 6px;
    margin: 2px;
    background: #eee;
    color: #555;
    border-radius: 3px;
    text-decoration: none;
    border: 1px dashed #cccccc;
}

.tag_box a span {
    vertical-align: super;
    font-size: 0.8em;
}

.tag_box a:hover {
    background-color: #e5e5e5;
}

.tag_box a.active {
    background: #57A957;
    border: 1px solid #4c964d;
    color: #FFF;
}

p {
    font-size: 16px;
    /*text-align: justify;*/
}

p img {
    display: block;
    margin: 0 auto;
    border-radius: 3px;
    max-width: 100%;
    -webkit-box-shadow: #999 1px 1px 4px;
    -moz-box-shadow: #999 1px 1px 4px;
    box-shadow: #999 1px 1px 4px;
}

.post-content {
    line-height: 1.8;
}

.post-content ::selection {
    background-color: #dee2e6;
 }


.post-content p img.emoji {
    display: inline;
}

.post-content a[target="_blank"]:after {
    content: url(../Icon_External_Link.png);
    margin: 0 0 0 5px;
}

.post-content blockquote {
    display: block;
    background: whitesmoke;
    padding: 15px 20px 15px 20px;
    margin: 0 0 20px;
    position: relative;

    /*Font*/
    font-family: Verdana, 'Hiragino Sans GB', 冬青黑, 'Microsoft YaHei', 微软雅黑, SimSun, 宋体, Helvetica, Tahoma, 'Arial sans-serif';
    font-size: 16px;
    line-height: 1.2;
    color: #444;
    text-align: justify;

    /*Borders - (Optional)*/
    border-left: 5px solid #999;
    border-right: 2px solid #999;

    /*Box Shadow - (Optional)*/
    -moz-box-shadow: 0px 0px 0px #ccc;
    -webkit-box-shadow: 0px 0px 0px #ccc;
    box-shadow: 0px 0px 0px #ccc;
}

.post-content blockquote::before {
    content: ""; /*Unicode for Left Double Quote*/
}

.post-content blockquote::after {
    /*Reset to make sure*/
    content: "";
}

.post-content blockquote a {
    text-decoration: none;
    cursor: pointer;
    padding: 0 3px;
    color: #c76c0c;
}

.post-content blockquote a:hover {
    color: #666;
}

code {
    color: #333;
    background-color: #eff0f1;
    padding-top: 7px;
    padding-bottom: 5px;
    padding-right: 8px;
    padding-left: 8px;
    border-radius: 4px;
    margin: 0;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace, Monaco, Lucida Console, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, sans-serif;
    font-size: 105%;
    word-break: break-all;
}

/*
.post-content a[href^="//"]:after,
.post-content a[href^="http://"]:after,
.post-content a[href^="https://"]:after {
  content: url(http://upload.wikimedia.org/wikipedia/commons/6/64/Icon_External_Link.png);
  margin: 0 0 0 5px;
}

.post-content a[href^="//einverne.github.io/"]:after,
.post-content a[href^="http://einverne.github.io/"]:after,
.post-content a[href^="https://einverne.github.io/"]:after {
  content: '';
  margin: 0;
}
*/

.nav {
    font-size: 110%;
}

.nav-icon {
    padding: 10px 15px 10px;
    float: right;
}

/*http://meta.superuser.com/questions/4788/css-for-the-new-kbd-style*/
kbd {
    -moz-border-radius: 3px;
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
    -webkit-border-radius: 3px;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
    color: #333;
    display: inline-block;
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.8em;
    margin: 0 .1em;
    padding: 0.1em 0.6em;
    text-shadow: 0 1px 0 #fff;
}

blockquote {
    display: block;
    background: #fff;
    padding: 15px 20px 15px 45px;
    margin: 0 0 20px;
    position: relative;

    /*Font*/
    font-family: Arial, 'Hiragino Sans GB', 冬青黑, 'Microsoft YaHei', 微软雅黑, SimSun, 宋体, Helvetica, Tahoma, 'Arial sans-serif';
    font-size: 16px;
    line-height: 1.2;
    color: #444;
    text-align: justify;

    /*Borders - (Optional)*/
    border-left: 5px solid #c76c0c;
    border-right: 2px solid #c76c0c;

    /*Box Shadow - (Optional)*/
    -moz-box-shadow: 2px 2px 15px #ccc;
    -webkit-box-shadow: 2px 2px 15px #ccc;
    box-shadow: 2px 2px 15px #ccc;
}

blockquote::before {
    content: "\201C"; /*Unicode for Left Double Quote*/

    /*Font*/
    font-family: Georgia, serif;
    font-size: 60px;
    font-weight: bold;
    color: #999;

    /*Positioning*/
    position: absolute;
    left: 10px;
    top: 5px;
}

blockquote::after {
    /*Reset to make sure*/
    content: "";
}

blockquote a {
    text-decoration: none;
    cursor: pointer;
    padding: 0 3px;
    color: #c76c0c;
}

blockquote a:hover {
    color: #666;
}

.quote {
    font-size: 20px;
    color: #000;
    line-height: 1.4;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
}

.footnotes {
    margin-top: 20px;
    padding-top: 20px;
    border-top: #bbb 2px dotted;
}

.anchorjs-link {
    transition: all .25s linear;
}

*:hover > .anchorjs-link {
    margin-left: 0.5em !important;
}

#qr {
    width: 100%;
    text-align: center;
}

#qrcode {
}

.videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}

.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
